{% extends "base.html" %}

{% block title %}RU Bus Alert{% endblock %}
{% block header %}
  {{ super() }}
  {% endblock %}

{% block content %}

  <!-- Header -->
  <h3>A notifier of Rutgers Bus arrivals</h3>
  <hr class="intro-divider">
  <ul class="list-inline intro-social-buttons">
  <!-- Create buttons of active buses-->
  {% for i in buses %}
    <li>
      <a href="/schedules/{{i}}" class="btn btn-default btn-lg"><i class="fa fa-bus fa-fw"></i> <span class="network-name">{{i}}</span></a>
    </li>
  {% endfor %}
  </ul>

  {% if current_user.is_authenticated %}
    <hr class="intro-divider">
    <div class="row">
      <h2>Create a new alert</h2>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Class ID</label>
          <input class="form-control" name="classID"  placeholder="Class ID">
          <small id="classID" class="form-text text-muted" style="color: #fff;">Ex: 01:198:111:01 for Intro to CS section 1</small>
        </div>
        <div class="form-group">
          <label for="sel1">Select Buses:</label>
          <select class="form-control" id="sel1">
            {% for i in buses %}
              <option>{{i}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="sel1">Select Stop:</label>
          <select class="form-control" id="sel1">
            {% for i in buses %}
              <option>{{i}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="sel1">Select Time:</label>
          <select class="form-control" id="sel1">
            {% for i in buses %}
              <option>{{i}}</option>
            {% endfor %}
          </select>
        </div>
        <button class="" style="background-color: Transparent; border: none;"  name="selection" type="submit" value="post_like">
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </button>
      </form>
    </div>
  {% endif %}

{% endblock %}
