{% extends "base.html" %}

{% block title %}RU Bus Alert{% endblock %}
{% block header %}
  {{ super() }}
  {% endblock %}

{% block content %}

  <!-- Header -->
  <h3>A notifier of Rutgers Bus arrivals</h3>
  <hr class="intro-divider">
  <ul class="list-inline intro-social-buttons">
  <!-- Create buttons of active buses-->
  {% for i in buses %}
    <li>
      <a href="/schedules/{{i}}" class="btn btn-default btn-lg"><i class="fa fa-bus fa-fw"></i> <span class="network-name">{{i}}</span></a>
    </li>
  {% endfor %}
  </ul>

{% endblock %}
