{% extends "base.html" %}

{% block status %}
  <!--Print success message -->
  {% if msg  %}
    <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      {{msg}}
    </div>
  {% elif error %}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
      {{error}}
    </div>
  {% endif %}
{% endblock %}

{% block title %}RU Bus Alert{% endblock %}
{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}


  <!-- Header -->
  <h3>A notifier of Rutgers Bus arrivals</h3>
  <hr class="intro-divider">
  <ul class="list-inline intro-social-buttons">
  <!-- Create buttons of active buses-->
  {% for i in buses %}
    <li>
      <a href="/schedules/{{i}}" class="btn btn-default btn-lg"><i class="fa fa-bus fa-fw"></i> <span class="network-name">{{i}}</span></a>
    </li>
  {% endfor %}
  </ul>

  {% if current_user.is_authenticated %}
    <hr class="intro-divider">
      <h2>Create a new alert</h2>
      <form class="form-inline" method="POST">
        <div class="row form-group">
          <div class="col-sm-2">
            <select class="form-control" name="classID">
              <option selected>Select Class</option>
              {% for i in classes %}
                <option>{{i.courseNum + '.' + i.sectionNum}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-2">
            <select class="form-control" name="bus">
              <option selected>Select Bus</option>
              {% for i in buses %}
                <option>{{i}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-2">
            <select class="form-control" name="stop">
              <option selected>Select Stop</option>
              {% for i in stops %}
                <option>{{i.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-2">
            <select class="form-control" name="time">
                <option selected>Select Time Before</option>
                <option>60 min</option>
                <option>50 min</option>
                <option>40 min</option>
                <option>30 min</option>
                <option>20 min</option>
                <option>10 min</option>
            </select>
          </div>
        </div>
        <button class="btn btn-info" style=" border: none;"  name="selection" type="submit" value="">
          <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
        </button>
      </form>
  {% endif %}

{% endblock %}
