{% extends "base.html" %}

{% block title %}{{number}}'s Profile{% endblock %}
{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}

{% if schedules %}
  <div class="row">
      <h2>Current Alerts:</h2>
      <ol>
        {% for i in schedules %}
        <li>{{Classes.query.filter_by(id=i.id).first().courseNum + ':' + Classes.query.filter_by(id=i.id).first().sectionNum}} at {{i.timePref}}</li>
        {% endfor %}
      </ol>

      

  </div>
{% else %}
  <h2>{{msg}}</h2>
{% endif %}

{% endblock %}
